.titleLinks {
    color: white;
    margin: 20px;
    padding: 5px 10px;
    background-color: blue;
    border-radius: 3px;
}

.links a:hover {
    color: blue;
    background-color: white;
    border: 2px solid blue;
}

.links a:hover {
    color: blue;
    background-color: white;
    border: 2px solid blue;
}